label {
    font-size: 1em;
    color: lightseagreen;
    margin-right: 1rem;
    width: 6em;
}
body {
    font-family: verdana,arial,sans-serif;  
    margin: 0;
    padding: 0;
}
#content {
    width:100%;
    margin: 0 auto; 
    background-color: white;
}
header {
    margin: 0;
    padding: .5em 2em;
    background-color: lightseagreen; 
}
header h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0;
    color: white;
    text-align: center;
}
#center {
  margin-left: 5em;
}
#controls {
   width: 80%;
   margin: 0 auto;
   padding: 1em;
   text-align: center;
}
.button {
    font-size: 1em;
    padding: 5px 15px;
    background: deepskyblue; 
    border: 1px solid deepskyblue;
    border-radius: 7px;
    color: black;    
}
#browse { margin-right: 40px; }

/* Search controls */
.search {
    font-size: 1em;
    padding: 6px 1px;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-align: left;   
}
select {
    font-size: 1em;
    margin: 0;
    padding: 5px 10px;
    border-radius: 7px;
} 
#main {
    margin: 0 auto;
}
table {
    font-family: verdana,arial,sans-serif;
    font-size: 1em;
    color: darkslategray;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}
table th {
    font-size: 1.063em;
    border-width: .0625em;
    padding: .625em;
    background-color: deepskyblue; 
}
table td {
    padding: .625em;
    border-width: .0625em;
    border-bottom: .0625em solid lightseagreen; 
}
footer {
    margin-top: 1em;
    padding: .2em;
    font-size: 0.813em;
    text-align: center;
    color: white;
    background-color: lightseagreen;
}
.flex-input {
 display: flex;
 flex-direction: column;
 margin: 1em 3em;
} 
@media (min-width: 32em) {
 .flex-input {
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: flex-start;
 }
 label { text-align: right; }
}
